@model List<SponsorModel>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Amount</th>
            <th>Sponsored Animal</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sponsor in @Model)
        {
            <tr>
                <td>@sponsor.FirstName</td>
                <td>@sponsor.LastName</td>
                <td>@sponsor.Amount</td>
                <td>@sponsor.SponsoredAnimal.Name</td>
                <td>
                    @Html.ActionLink("Delete", "Delete", "Sponsor", new { id = sponsor.Id },  new { @class= "btn btn-primary" })
                    @Html.ActionLink("Edit", "Edit", "Sponsor", new { id = sponsor.Id },  new { @class= "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="d-flex w-100 justify-content-between">
    @Html.ActionLink("Create", "Create", "Sponsor", new {}, new { @class= "btn btn-primary" })
</div>